<div id='all-shoes'>
  <h2 class='form-group'> Select a Shoe! </h2>
  <% if @shoes %>
    <% @shoes.each do |shoe| %>
    <div class='each-shoe'>
      <div class="col-sm-3">
        <%= image_tag "#{@image.sample}" %>
      </div>
      <div id="shoe-div" class="col-sm-9">
        <h3><%= shoe.name %></h3>
        <p>$<%= shoe.price %></p>
        <%= link_to "Buy this Shoe!", "/shoes/#{shoe.id}", :class => "btn btn-primary", :id => "shoe-button" %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
